<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496320293166-m1sopota5ke55f2aciou7dsm0q5pdtjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496320293166-m1sopota5ke55f2aciou7dsm0q5pdtjt</string>
	<key>API_KEY</key>
	<string>AIzaSyBIpCtzg-6pxpvIQ1jIL47Q5-b9f7xt1Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>496320293166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyMate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>studymate-web</string>
	<key>STORAGE_BUCKET</key>
	<string>studymate-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496320293166:ios:e8fb05b28e3a646ae432bf</string>
</dict>
</plist>